on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron:  '22 16 15 * *'
name: get file
jobs:
  rundownload:
    name: "rundownload"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main
    - name: get finalshell_linux.zip
      run: |
        curl -o finalshell_linux.zip http://dl.hostbuf.com/finalshell2/finalshell_linux.zip

    - uses: edgarrc/action-7z@v1
      with:
        args: 7z x finalshell_linux.zip
    - name: change file path
      run: |
        chmod +x ./change_file_path.sh
        ./change_file_path.sh
    - name: repack
      run: |
        tar -zcvf finalshell_linux.tar.gz ./FinalShell
    - name: Release set path
      run: |
        sha256sum ./*.gz>release.txt
        echo "RELEASE_PATH=$PWD" >> $GITHUB_ENV
        echo "FILE_DATE=_$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

    - name: Release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.FILE_DATE }}
        body_path: release.txt
        files: ${{ env.RELEASE_PATH }}/*.gz
